body {
  line-height: 1.6;
  background-color: #f4f4f4;

}

.container {
  padding-top: 12px;
  height: 100%;
  width: 90%;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 100px;
}

.form-group button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #00aaa3;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form-group button:hover {
  background-color: #00aaa3;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; 
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 20px;
  left: 60px;
  width: 90% !important;
  height: 100% !important;
}