#search-box{
    background: #fff;
    border-radius: 30px;
}

#search-box #search-text{
    border: none;
    outline: none;
    background: none;
    /* padding: 10px 15px; */
    width: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}

#search-box #search-btn{
    background-color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
}

#search-box:hover #search-text, #search-box #search-text:valid{
    width: 200px;
    padding: 10px 0px 10px 15px;
}

#link-login{
    font-size: 20px;
    padding-right: 20px;
}